
<a href="https://github.com/ogom/draw_uml">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="{{ site.baseurl }}/assets/img/ribbons/forkme_right_white.png"
       alt="Fork me on GitHub">
</a>
